<%= render partial: 'layouts/navbar' %>
<div class="container text-center">
  <h1>New ingredient</h1>
  <br /><br />
</div>
<div class="container">

  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <%= flash[:error] %>
      </div>
    </div>
  <% end %>

  <%= render partial: 'layouts/errors', locals: {object: @recipe_ingredient}  %>

  <%= form_for([@recipe_ingredient.recipe, @recipe_ingredient]) do |f|%>
    <% if params[:recipe_id] %>
      <%= f.hidden_field :recipe_id %>
    <% else %>
      <div class="form-group">
        <%= f.label :recipe_id, "Select a Recipe" %>
        <%= f.collection_select :recipe_id, Recipe.all, :id, :name, include_blank: true %>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.label :ingredient_id, "Select an ingredient  " %>
      <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name, include_blank: true %>
    
      <%= f.fields_for :ingredient, @ingredient do |i| %>
        <%= i.label :name, "Or create a new one:  " %>
        <%= i.text_field :name %>
      <% end %>
    </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, min:1 %>
      </div>
    <br>

    <button type=f.submit class="btn btn-primary">Add ingredient</button>

  <% end %>
</div>
