 <div class="container text-center"> 
  <h1>Login here</h1><br />

<% if flash[:error] %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

  <%= form_for(:user) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <button type=f.submit class="btn btn-primary">Login</button>
    
  <% end %>
</div>