<%= render partial: 'layouts/navbar' %>
<% if !@recipe %>
  <div class="container">
    <%= form_tag("/comments", method: "get") do %>
      Comments by author:
      <%= select_tag "user", options_from_collection_for_select(@users, "id", "name"), include_blank: true %><br /><br />
      Comments by recipe:
      <%= select_tag "recipe", options_from_collection_for_select(@recipes, "id", "name"), include_blank: true %><br /><br />
      <%= submit_tag "Filter" %>
    <% end %>
  </div>
<% else %>
  <div class="container text-center">
    <h1>Comments for <%= @recipe.name %></h1>
  </div>
<% end %>
<br /><br />
<div class="container">
  <% @comments.each do |c| %>
    <p><h3><%= c.content %>
    | Comment by: <%= link_to c.user.name, user_path(c.user) %></h3></p>
  <% end %>
</div>