<% if @recipe %>
  <div class="container text-center">
    <h1><%= @recipe.name %></h1>
    <br />
  </div>
  <div class="container">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cooking time in minutes: <%= @recipe.cooking_time %></li>
      <li class="list-group-item">Servings: <%= @recipe.servings %></li>
      <li class="list-group-item">Directions: <%= @recipe.directions %></li>
      <% if not_empty @recipe.ingredients %>
        <li class="list-group-item">Ingredients: <% @recipe.recipe_ingredients.each do |ri| %>
          <%= ri.ingredient.name %> 
          (<%= ri.quantity %>)
        <% end %></li>
      <% end %>
      <% if not_empty @recipe.categories %>
        <li class="list-group-item">Categories: <% @recipe.categories.each do |category| %>
          <%= category.name %>
        <% end %></li>
      <% end %>
    </ul>

    <strong><li class="list-group-item">Recipe created by <%= @recipe.user.name %></li></strong>
  </div>
  <br />


  <div class="container">
    <% if not_empty @recipe.ratings %>
      <h6><strong>Ratings:</strong></h6>
      <% @recipe.ratings.each do |rating| %>
        <p><%= rating.score %> star -
        <strong><%= rating.user.name %></strong><br /></p>
      <% end %>
    <% end %>
    
    <% if not_empty @recipe.comments %>
      <h6><strong><%= link_to "Comments:", recipe_comments_url(@recipe) %></strong></h6>
      <% @recipe.comments.each do |comment| %>
        <p><%= comment.content %>
        <strong>Posted by <%= comment.user.name %></strong><br /></p>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <div class="btn btn-primary">
      <%= link_to "Comment recipe", new_recipe_comment_path(@recipe), :class => "btn text-white" %>
    </div>
    <% if current_user.admin %>
      <div class="btn btn-primary">
        <%= link_to "Add an ingredient", new_recipe_recipe_ingredient_path(@recipe), :class => "btn text-white" %>
      </div>
      <% if not_empty @recipe.ingredients %>
        <div class="btn btn-primary">
          <%= link_to "Delete ingredient", recipe_recipe_ingredients_path(@recipe), :class => "btn text-white" %>
        </div>
      <% end %>
      <div class="btn btn-primary">
        <%= link_to "Edit recipe", edit_recipe_path(@recipe), :class => "btn text-white" %>
      </div>
      <div class="btn btn-primary">
        <%= link_to "Delete recipe", @recipe, method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }, :class => "btn text-white" %>
      </div>
    <% end %>
  </div>
<% end %>