<% if @recipe %>
  <h1><%= @recipe.name %></h1>
  <p>Cooking time in minutes: <%= @recipe.cooking_time %></p>
  <p>Servings: <%= @recipe.servings %></p>
  <p>Directions: <%= @recipe.directions %></p>
  <p>Ingredients: <% @recipe.ingredients.each do |ingredient| %></p>
    <p><%= ingredient.name %></p>
  <% end %>
  <p>Categories: <% @recipe.categories.each do |category| %></p>
    <p><%= category.name %></p>
  <% end %>
  
  
  <strong><p>Created by <%= @recipe.user.name %></p></strong>

  <% if @recipe.user.admin %>
    <p><%= link_to "Add a ingredient to this recipe", new_recipe_ingredient_path(@recipe) %></p>
    <p><%= link_to "Add a category to this recipe", new_recipe_category_path(@recipe) %></p>
    <p><%= link_to "Edit this recipe", edit_recipe_path(@recipe) %></p>
  <% end %>
  <p><%= link_to "Delete this recipe", @recipe, method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %></p>

  <p><%= link_to "Comment this recipe", new_recipe_comment_path(@recipe) %></p>

  <% if @recipe.ratings.size >= 1 %>
    <p>Ratings:</p>
    <% @recipe.ratings.each do |rating| %>
      <%= rating.score %>
      <strong><%= rating.user.name %></strong><br />
    <% end %>
  <% end %>
  
  <% if @recipe.comments.size >= 1 %>
    <p><%= link_to "Comments:", recipe_comments_url(@recipe) %></p>
    <% @recipe.comments.each do |comment| %>
      <%= comment.content %>
      <strong><%= comment.user.name %></strong><br />
    <% end %>
  <% end %>
<% end %>